notes.txt
jquery.min.js
style.css
.vscode/settings.json
assets/border-almostsquare.png
assets/border-rounded.png
assets/border-squarish.png
assets/bubble-border-toleft.png
assets/bubble-border.png
assets/depixelhalbfett.otf
assets/depixelillegible.otf
assets/depixelklein.otf
assets/key_down_pressed.png
assets/key_down_unpressed.png
assets/key_e_pressed.png
assets/key_e_unpressed.png
assets/key_up_pressed.png
assets/key_up_unpressed.png
assets/keycap_pressed.png
assets/keycap_unpressed.png
demos/wander.gif
demos/whoareyou.gif
style.sass.min.css.map
style.sass.min.css
style.css.map
