@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "DePixel Halbfett";
  src: url("assets/depixelhalbfett.otf");
}
@font-face {
  font-family: "DePixel Klein";
  src: url("assets/depixelklein.otf");
}
@font-face {
  font-family: "DePixel Illegible";
  src: url("assets/depixelillegible.otf");
}
@-webkit-keyframes wave {
  0% {
    transform: translateY(0vmin);
  }
  10% {
    transform: translateY(-0.2vmin);
  }
  20% {
    transform: translateY(0.4vmin);
  }
  30% {
    transform: translateY(0vmin);
  }
  100% {
    transform: translateY(0vmin);
  }
}
@keyframes wave {
  0% {
    transform: translateY(0vmin);
  }
  10% {
    transform: translateY(-0.2vmin);
  }
  20% {
    transform: translateY(0.4vmin);
  }
  30% {
    transform: translateY(0vmin);
  }
  100% {
    transform: translateY(0vmin);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  0% {
    position: relative;
    top: -0.1462522006vmin;
    left: 0.0480719547vmin;
  }
  10% {
    position: relative;
    top: -0.0976599982vmin;
    left: 0.1021158215vmin;
  }
  20% {
    position: relative;
    top: 0.1026188197vmin;
    left: -0.0663538713vmin;
  }
  30% {
    position: relative;
    top: -0.0008275532vmin;
    left: -0.1382919719vmin;
  }
  40% {
    position: relative;
    top: -0.1303941107vmin;
    left: -0.1132720462vmin;
  }
  50% {
    position: relative;
    top: -0.1047954025vmin;
    left: 0.1492248336vmin;
  }
  60% {
    position: relative;
    top: 0.0583431747vmin;
    left: 0.1085312094vmin;
  }
  70% {
    position: relative;
    top: 0.0182618696vmin;
    left: 0.1323690708vmin;
  }
  80% {
    position: relative;
    top: -0.0163374716vmin;
    left: 0.0901784529vmin;
  }
  90% {
    position: relative;
    top: -0.0890533253vmin;
    left: -0.0181268144vmin;
  }
  100% {
    position: relative;
    top: 0.11812744vmin;
    left: -0.0286707418vmin;
  }
}
@keyframes shake {
  0% {
    position: relative;
    top: -0.1462522006vmin;
    left: 0.0480719547vmin;
  }
  10% {
    position: relative;
    top: -0.0976599982vmin;
    left: 0.1021158215vmin;
  }
  20% {
    position: relative;
    top: 0.1026188197vmin;
    left: -0.0663538713vmin;
  }
  30% {
    position: relative;
    top: -0.0008275532vmin;
    left: -0.1382919719vmin;
  }
  40% {
    position: relative;
    top: -0.1303941107vmin;
    left: -0.1132720462vmin;
  }
  50% {
    position: relative;
    top: -0.1047954025vmin;
    left: 0.1492248336vmin;
  }
  60% {
    position: relative;
    top: 0.0583431747vmin;
    left: 0.1085312094vmin;
  }
  70% {
    position: relative;
    top: 0.0182618696vmin;
    left: 0.1323690708vmin;
  }
  80% {
    position: relative;
    top: -0.0163374716vmin;
    left: 0.0901784529vmin;
  }
  90% {
    position: relative;
    top: -0.0890533253vmin;
    left: -0.0181268144vmin;
  }
  100% {
    position: relative;
    top: 0.11812744vmin;
    left: -0.0286707418vmin;
  }
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #0a0a0a;
  font-family: "DePixel Klein";
  font-size: 1vmin;
  text-rendering: geometricPrecision;
  margin: 0;
}

section {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden;
  font-size: 3vmin;
}
section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141414;
  width: 100vmin;
  height: 100vmin;
}

input, button, .dialogue-option, .input-ok {
  transition: color 100ms ease, text-shadow 100ms ease;
  font-family: "DePixel Illegible";
  cursor: pointer;
}
input:not(:focus), input:not(:hover), button:not(:focus), button:not(:hover), .dialogue-option:not(:focus), .dialogue-option:not(:hover), .input-ok:not(:focus), .input-ok:not(:hover) {
  color: rgba(255, 255, 255, 0.3);
}
input:focus, input:hover, input[data-selected], button:focus, button:hover, button[data-selected], .dialogue-option:focus, .dialogue-option:hover, .dialogue-option[data-selected], .input-ok:focus, .input-ok:hover, .input-ok[data-selected] {
  color: white;
}
input:hover, input[data-selected], button:hover, button[data-selected], .dialogue-option:hover, .dialogue-option[data-selected], .input-ok:hover, .input-ok[data-selected] {
  text-shadow: 0 0 1vmin white;
}

input[type=text] {
  cursor: initial;
}

.player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 3em;
  background: cyan;
  transition: all 56ms ease;
  z-index: 2;
}
.player.moving-left:not(.moving-right) {
  transform: translate(-50%, -50%) matrix(1, 0, -0.1, 1, 6, 2);
}
.player.moving-right:not(.moving-left) {
  transform: translate(-50%, -50%) matrix(1, 0, 0.1, 1, -6, 2);
}
.player.moving-up:not(.moving-down) {
  height: 2.7em;
}
.player.moving-down:not(.moving-up) {
  height: 3.3em;
}

.npc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 3em;
  z-index: 2;
}
.npc::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 5em;
  width: 2.8em;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-image: url(assets/whiteflame-animated.png);
  background-position: center center;
  background-size: auto 100%;
  filter: contrast(0.85) saturate(2);
}

.bubble {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 50vmin;
  max-height: 50vmin;
  border: 5vmin solid white;
  background: black;
  background-clip: padding-box;
  border-image-slice: 8;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  color: white;
  font-size: max(2.5vmin, 10px);
}
.bubble.to-right {
  -o-border-image: url(assets/bubble-border.png);
     border-image: url(assets/bubble-border.png);
  border-image-slice: 8;
  bottom: 100%;
  left: 100%;
}
.bubble.to-left {
  -o-border-image: url(assets/bubble-border-toleft.png);
     border-image: url(assets/bubble-border-toleft.png);
  border-image-slice: 8;
  bottom: 100%;
  right: 100%;
}
.bubble.skippable {
  background-image: url("assets/key_e.gif");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 1.5em;
}
.bubble.select {
  background-image: url("assets/controls_select.gif");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 1.5em;
}
.bubble .name {
  font-family: "DePixel Halbfett";
  font-size: 0.7em;
}
.bubble .name::after {
  content: ":";
  font-size: 1em;
}
.bubble .visitor {
  font-family: "DePixel Halbfett";
  font-size: 0.8em;
  color: cyan;
  text-shadow: 0 0 7px cyan;
}
.bubble .speech {
  font-style: italic;
  margin: 1vmin 1vmin 1vmin 1vmin;
  display: inline-block;
}
.bubble .speech:not(:first-child) {
  margin-top: 0;
}
.bubble .speech:not(:last-child) {
  margin-bottom: 0;
}
.bubble .wavy {
  display: inline-block;
  -webkit-animation: wave 5s infinite calc(var(--order) * 100ms);
          animation: wave 5s infinite calc(var(--order) * 100ms);
}
.bubble .fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 100ms calc(var(--order) * 100ms) forwards calc(var(--order) * 100ms);
          animation: fadeIn 100ms calc(var(--order) * 100ms) forwards calc(var(--order) * 100ms);
}
.bubble .shaky {
  -webkit-animation: shake 1s linear infinite forwards;
          animation: shake 1s linear infinite forwards;
}
.bubble .wavy.fade-in {
  -webkit-animation: wave 5s infinite calc(var(--order) * 100ms), fadeIn 100ms calc(var(--order) * 100ms) forwards;
          animation: wave 5s infinite calc(var(--order) * 100ms), fadeIn 100ms calc(var(--order) * 100ms) forwards;
}
.bubble .shaky.fade-in {
  -webkit-animation: shake 1s linear infinite forwards, fadeIn 100ms calc(var(--order) * 100ms) forwards;
          animation: shake 1s linear infinite forwards, fadeIn 100ms calc(var(--order) * 100ms) forwards;
}
.bubble .shaky.wavy {
  -webkit-animation: wave 5s infinite calc(var(--order) * 100ms), shake 1s linear infinite forwards;
          animation: wave 5s infinite calc(var(--order) * 100ms), shake 1s linear infinite forwards;
}
.bubble .shaky.wavy.fade-in {
  -webkit-animation: wave 5s infinite calc(var(--order) * 100ms), shake 1s linear infinite forwards, fadeIn 100ms calc(var(--order) * 100ms) forwards;
          animation: wave 5s infinite calc(var(--order) * 100ms), shake 1s linear infinite forwards, fadeIn 100ms calc(var(--order) * 100ms) forwards;
}
.bubble .wordspan {
  display: inline-block;
}
.bubble .dialogue-option {
  display: block;
}
.bubble .dialogue-option::before {
  content: " - ";
}
.bubble .dialogue-option:hover::before, .bubble .dialogue-option[data-selected]::before {
  content: " >> ";
}
.bubble .input-ok {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: white;
  font-family: "DePixel Illegible";
}
.bubble input[type=text] {
  width: 80%;
  margin-left: 10%;
  background: black;
  border: none;
  outline: none;
  border-bottom: 0.5vmin dashed white;
  text-align: center;
  font-size: 1em;
}
.bubble button {
  font-size: 0.8em;
  color: white;
  background: black;
  border: 1.1vmin solid white;
  -o-border-image: url("assets/border-squarish.png");
     border-image: url("assets/border-squarish.png");
  border-image-slice: 2;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  margin: 1vmin 0 -1vmin 50%;
  transform: translateX(-50%);
}

.grass {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 10vmin;
  height: 10vmin;
  margin-top: -10vmin;
}
.grass:not(:first-of-type) {
  margin-left: -10vmin;
}
.grass[type="0"] {
  transform: scale(0.6);
}
.grass[type="1"] {
  transform: scale(1);
}
.grass[type="2"] {
  transform: scale(0.9);
}
.grass[type="3"] {
  transform: scale(1.4);
}
/*# sourceMappingURL=style.css.map */